@model IEnumerable<DatabaseLayer.SupplierTable>

@{
    ViewBag.Title = "SelectSupplier";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>

@using (Html.BeginForm("PurchaseConfirm", "Purchase", FormMethod.Post))
{
    <div class="card">
        <div class="card card-flat">
            <div class="card-header">

                <input type="submit" style="float:right;" value="Finilize Purchase" class="btn btn-success" />
                <input type="text" id="search" name="search" class="form-control col-md-3" style="float: left;" placeholder="search here"/>
            </div>
            <div class="card-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="dataTable">
                        <thead style="background-color:lightgray;">
                            <tr>
                                <th>
                                    Supplier
                                </th>
                                <th>
                                    Contact No
                                </th>
                                <th>
                                    Supplier Email
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="supplierlist">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    I
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplierName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        <input type="checkbox" name="name @item.SupplierID" class="chb" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#search").on("keyup", function () {
        });
        var value = $(this).val().toLowerCase(); $("#supplierlist tr").filter(function () {
        });
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        $(".chb").change(function (event) {
            $(".chb").prop('checked', false);
            $(this).prop('checked', true);
        });
    });
</script>